.optionTypeColorpicker {
	> .colorPreview {
		border: 1px solid $wcfInputBorder;
		height: 68px;
		width: 68px;
		
		> div {
			border: 0;
			cursor: pointer;
			display: block;
			height: 100%;
			width: 100%;
		}
	}
	
	> .remove {
		background-color: $wcfInputBackground;
		border: 1px solid $wcfInputBorder;
		display: table;
		height: 20px;
		margin-left: -12px;
		width: 20px;
	}
}

.formError .colorPreview {
	border-color: rgba(204, 0, 1, 1) !important;
}
